<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Predictor</title>
</head>
<body>
    <h1>Titanic Predictor</h1>
    <h1>Get Your Titanic Prediction</h1>
    <p>Enter in the details of made up person on the titanic </p>
<p>We will output a Production</p>

<form action="{% url 'result' %}">
    {% csrf_token %}
    <input type="text" name="age" id="">
    <input type="submit">
</form>

</body> 
</html>